@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Kullanıcı Girişi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="panel panel-primary" style="margin: 50px auto;width: 350px;">
        <div class="panel-body">
            <h3>Kullanıcı Girişi</h3>
            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger">
                    @ViewData["error"].ToString()
                </div>
            }
            <form method="post" action="/Admin/Login">
                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" name="user">
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" name="pass">
                </div>
                <button type="submit" class="btn btn-default">Giriş</button>
            </form>
        </div>
    </div>
</body>
</html>
