
@{
    ViewBag.Title = "DURER - "+durer2.Resource.Resources.HomeUpper;
}
    <div class='slider-wrapper Row Expand'>
        <ul>
            <li class="active"><img src="~/img/main-slide1.jpg" /></li>
            <li><img src="~/img/main-slide2.jpg" /></li>
            <li><img src="~/img/main-slide3.jpg" /></li>
            <li><img src="~/img/main-slide4.jpg" /></li>
            <li><img src="~/img/main-slide5.jpg" /></li>
        </ul>
    </div>